.git
.github
.next
.turbo
**/.next
**/.pytest_cache
**/.turbo
**/artifacts
**/build
**/build-dry-run
**/cache
**/coverage
**/dist
**/generated
**/node_modules
**/out
**/playwright-report
**/storybook-static
**/test-results
**/typechain-types
packages/contracts/audit/reports
packages/contracts/lib
.env
.env.*
!.env.example
*.log
